
.shopping-cart {
  width: 750px;
  /* margin: 80px auto; */
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
.item {
  padding: 20px 30px;
  display: flex;
  align-items: center;
}
 
/* .item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
} */
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-btn{
  display: inline-block;
  Cursor: pointer;
}
.delete-btn {
  width: 18px;
  height: 17px;
  background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center;
}


.image {
  margin-right: 50px;
}
 
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}
 
.description span {
  display: block;
  font-size: 14px;
  font-weight: 400;
} 
 
.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: black;
}
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 
button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
 
button:focus,
input:focus {
  outline:0;
}

.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}


/* Bag Summary */
.bag-summary {
  margin-top: 20px;
  border: 1px solid grey;
  width: 350px;
  padding: 20px;
  height: 250px;
}
.bag-summary h2 {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(95, 93, 93);
  margin-bottom: 15px;
}
.bag-summary span {
  margin-left: 5px;
}
.bag-summary h4 {
  color: grey;
  font-size: 0.85rem;
  margin-top: 10px;
  font-weight: 400;
}
.bag-summary h4 span {
  float: right;
  color: green;
}
.bag-summary h3 {
  color: rgb(90, 87, 87);
  font-size: 0.9rem;
  margin-bottom: 20px;
}
.bag-summary h3 span {
  float: right;
  color: green;
}

.bag-summary hr {
  margin-top: 20px;
  margin-bottom: 10px;
}
.bag-summary button {
  color: white;
  width: 100%;
  padding: 10px;
  background-color: #f54e77;
  border: none;
}
.cart-container{
  display: flex;
  justify-content: space-around;
}