.header {
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
}
.leftSection {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  align-items: center;
}
.leftSection h3{
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
.rightSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.cartIcon {
  font-size: 2rem;
}
.cartContainer {
  position: relative;
}
.cartCount {
  position: absolute;
  top: 1px;
  left: -8px;
  background-color: red;
  padding:1px 8px;
  border-radius: 50%;
  color: white;
}
